torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
soundfile
numpy==1.26.4
torch_audiomentations
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
wget
editdistance
flashlight-text
gdown
datasets
yadisk
asteroid
pesq
pystoi
museval
sru

black
isort
pre-commit
